<h1>詳細情報</h1>

<table class="table table-striped">

<tr>
<th>年月</th>
<td>
<%= @book.year %>年<%= @book.month%>月</td>
</tr>
<tr>
<th>区分</th><td><%=@book.inout%></td>
</tr>
<tr>
<th>科目</th><td><%=@book.category%></td>
</tr>
<tr>
<th>金額</th><td><%=@book.amount%>円</td>
</tr>
</table>
<%= link_to "編集", edit_book_path(@book), class: "btn btn-warning" %>
<%= link_to "削除", book_path(@book), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
<%= link_to "戻る", books_path, class: "btn btn-secondary" %>